<% layout('/admin/template') -%>
<title>Add Income</title>
<script>
function maxDate() {
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("date").setAttribute("max", today);
}
</script>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/admin">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/admin/incomeList"><%= __('Income List') %></a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#"><%= __('Add Income') %></a>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase"><%= __('Add Income') %></span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="horizontal-form">
                    <div class="form-body">
                        <% if (msg.length > 0) { %>
                <div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

                  <%= msg %>

                </div>
                <% } %>
                <% if (error.length > 0) { %>
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                    <%= error %>

                  </div>
                  <% } %>
                        <h3 class="form-section"><%= __('Income Details') %></h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><%= __('Content') %></label>
                                    <input type="text" id="content" name="content" required class="form-control" placeholder="Nguyen Van A">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><%= __('Amount (VND)') %></label>
                                    <input type="number" id="amount" name="amount" required class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><%= __('Date') %></label>
                                    <input type="Date" id="date" name="date" class="form-control" onclick="maxDate()" placeholder="">
                                    <span class="help-block"><%= __('No Date') %></span>
                                </div>
                            </div>
                        </div>
                        <!--/row-->

                                        <div class="form-actions right">
                                            <a href="javascript:history.back()" class="btn default">Cancel</a>
                                            <button type="submit" class="btn blue">
                                                <i class="fa fa-check"></i> <%= __('Save') %></button>
                                            </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->
