<% layout('/admin/template') -%>
<title>Finance Report</title>
<script  type="text/javascript">
function getdate() {
    var tt = document.getElementById('tDate').value;

    var date = new Date(tt);
    var newdate = new Date(date);

    newdate.setDate(newdate.getDate() + 1);

    var dd = newdate.getDate();
    var mm = newdate.getMonth() + 1;
    var y = newdate.getFullYear();

    var someFormattedDate = mm + '/' + dd + '/' + y;
    document.getElementById('tempDate').value = someFormattedDate;
}


function maxDate() {
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("fDate").setAttribute("max", today);
document.getElementById("tDate").setAttribute("max", today);
}
</script>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="/admin"><%= __('Dashboard') %></a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#"><%= __('Finance Report') %></a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"><%= __('List') %></span>
                    </div>
                </div>
                <div class="portlet-body">
                </div>
                <form method="post">
            <label><%= __('From Date') %>: </label>&nbsp;
            <input type="date" required="true" id="fDate" name="fDate" max='2000-13-13' min='1899-01-01' onclick="maxDate()"></input>&nbsp;&nbsp;
            <label><%= __('To Date') %>: </label>&nbsp;
            <input type="date" require="true" onchange="getdate()" id="tDate" name="tDate" onclick="maxDate()">&nbsp;&nbsp;&nbsp;
            <input type="text" id="tempDate" hidden name="tempDate"/>
            <button type="submit" class="btn btn-primary"><%= __('Find') %></button>
        </form>
<div style="margin-top:20px">
    <% if (fDate != null && tDate != null) {%>
    <header class="panel-heading">
        <%= __('Statistic from') %> <%= fDate.toDateString() %> <%= __('to') %> <%= tDate.toDateString() %>
    </header>
    <%  } %>
    <table class="table">
    <thead>
    <tr>
    <th style="width:200px">#</th>
    <th style="width:200px"><%= __('Income') %></th>
    <th style="width:200px"><%= __('Outcome') %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><%= __('Number of Transactions') %></td>
    <% if (incomeTransaction == null) {%>
        <td>0</td>
    <% } else { %>
    <td><%= incomeTransaction %></td>
        <% } %>
        <% if (outcomeTransaction == null) {%>
            <td>0</td>
        <% } else { %>
        <td><%= outcomeTransaction %></td>
            <% } %>
    </tr>
    <tr>
    <td><%= __('Total') %> (VND)</td>
    <% if (totalIncome == null) {%>
        <td>0</td>
    <% } else { %>
    <td><%= totalIncome.toLocaleString() %></td>
        <% } %>
        <% if (totalOutcome == null) {%>
            <td>0</td>
        <% } else { %>
        <td><%= totalOutcome.toLocaleString() %></td>
            <% } %>
    </tr>
    <tr>
    <td><%= __('Balance') %></td>
    <% if (balance == null) {%>
        <td colspan="2">0</td>
    <% } else { %>
        <% if (balance > 0) { %>
            <td colspan="2"><font color="#009900" size="4px" weight="bold"><%= balance.toLocaleString() %><font></td>
        <% } else { %>
            <td colspan="2"><font color="red" size="4px" weight="bold"><%= balance.toLocaleString() %><font></td>
            <% } %>
        <% } %>
    </tr>
    </tbody>
    </table>
</div>
<% if (income1 != null && outcome1 != null) { %>
<div style="margin-top:20px">
    <section class="desk-com" style="margin-top:10px">
    <div class="row">
      <div class="col-sm-12">
        <div class="description">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#description" aria-controls="home" role="tab" data-toggle="tab"><%= __('Income') %></a></li>
            <li role="presentation"><a href="#reviews" aria-controls="messages" role="tab" data-toggle="tab"><%= __('Outcome') %></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
              <div class="adv-table">
                  <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
      <thead>
          <tr>
              <th class="all"><%= __('Issued By') %></th>
              <th class="min-phone-l"><%= __('Amount (VND)') %></th>
              <th class="min-tablet"><%= __('Content') %></th>
              <th class="all"><%= __('Issued Time') %></th>
              <th class="none"><%= __('Notes') %></th>
              <th class="all"><%= __('Actions') %></th>
          </tr>
      </thead>
      <tbody>
       <% for (var i = 0; i < income1.length; i++) { %>
          <tr>
              <td><%= income1[i].issuedBy %></td>
              <td><%= income1[i].amount.toLocaleString() %></td>
              <td><%= income1[i].content %></td>
              <td><%= income1[i].date.toLocaleString() %></td>
              <td><%= income1[i].note %></td>
              <td>
                  <div class="btn-group pull-right">
                      <button class="btn green btn-xs btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                  <i class="fa fa-angle-down"></i>
                              </button>
                      <ul class="dropdown-menu pull-right">
                          <li>
                              <a href="/admin/editIncome/<%= income1[i]._id %>">
                                  <i class="icon-pencil"></i> <%= __('Edit') %> </a>
                          </li>
                          <li>
                              <a href="/admin/deleteIncome/<%= income1[i]._id %>">
                                  <i class="fa fa-trash-o"></i> <%= __('Delete') %> </a>
                          </li>
                      </ul>
                  </div>
              </td>
          </tr>
        <% } %>
      </tbody>
    </table>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="reviews">
              <div class="adv-table">
                  <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_3">
      <thead>
          <tr>
              <th class="all"><%= __('Issued By') %></th>
              <th class="min-phone-l"><%= __('Amount (VND)') %></th>
              <th class="min-tablet"><%= __('Content') %></th>
              <th class="all"><%= __('Issued Time') %></th>
              <th class="none"><%= __('Notes') %></th>
              <th class="all"><%= __('Actions') %></th>
          </tr>
      </thead>
      <tbody>
       <% for (var i = 0; i < outcome1.length; i++) { %>
          <tr>
              <td><%= outcome1[i].issuedBy %></td>
              <td><%= outcome1[i].amount.toLocaleString() %></td>
              <td><%= outcome1[i].content %></td>
              <td><%= outcome1[i].date.toLocaleString() %></td>
              <td><%= outcome1[i].note %></td>
              <td>
                  <div class="btn-group pull-right">
                      <button class="btn green btn-xs btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                  <i class="fa fa-angle-down"></i>
                              </button>
                      <ul class="dropdown-menu pull-right">
                          <li>
                              <a href="/admin/editOutcome/<%= outcome1[i]._id %>">
                                  <i class="icon-pencil"></i> <%= __('Edit') %> </a>
                          </li>
                          <li>
                              <a href="/admin/deleteOutcome/<%= outcome1[i]._id %>">
                                  <i class="fa fa-trash-o"></i> <%= __('Delete') %> </a>
                          </li>
                      </ul>
                  </div>
              </td>
          </tr>
        <% } %>
      </tbody>
    </table>

              </div>
            </div>

                </section>
</div>
<% } else { %>
    <div style="margin-top:20px">
        <section class="desk-com" style="margin-top:10px">
        <div class="row">
          <div class="col-sm-12">
            <div class="description">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="home" role="tab" data-toggle="tab"><%= __('Income') %></a></li>
                <li role="presentation"><a href="#reviews" aria-controls="messages" role="tab" data-toggle="tab"><%= __('Outcome') %></a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                  <div class="adv-table">
                      <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
          <thead>
              <tr>
                  <th class="all"><%= __('Issued By') %></th>
                  <th class="min-phone-l"><%= __('Amount (VND)') %></th>
                  <th class="min-tablet"><%= __('Content') %></th>
                  <th class="all"><%= __('Issued Time') %></th>
                  <th class="none"><%= __('Notes') %></th>
                  <th class="all"><%= __('Actions') %></th>
              </tr>
          </thead>
          <tbody>

          </tbody>
      </table>

                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="reviews">
                  <div class="adv-table">
                      <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
          <thead>
              <tr>
                  <th class="all"><%= __('Issued By') %></th>
                  <th class="min-phone-l"><%= __('Amount (VND)') %></th>
                  <th class="min-tablet"><%= __('Content') %></th>
                  <th class="all"><%= __('Issued Time') %></th>
                  <th class="none"><%= __('Notes') %></th>
                  <th class="all"><%= __('Actions') %></th>
              </tr>
          </thead>
          <tbody>

          </tbody>
      </table>

                  </div>
                </div>

                    </section>
    </div>
    <% } %>
</div>

            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
