<% layout('/admin/template') -%>
<title>Add Customer</title>

<script type="text/javascript">
function updateText(type) {
    var id = type+'Text';
    document.getElementById(id).value = document.getElementById(type).value;
}
</script>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/admin">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/admin/customerList"><%= __('Customers List') %></a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#"><%= __('Add Customer') %></a>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase"><%= __('Add Customer') %></span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="horizontal-form">
                    <div class="form-body">
                        <% if (msg.length > 0) { %>
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <%= msg %>

                            </div>
                            <% } %>
                            <% if (error.length > 0) { %>
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    <%= error %>

                                </div>
                                <% } %>
                                <h3 class="form-section"><%= __('Personal Information') %></h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name"><%= __('Name') %></label>
                                            <input type="text" class="form-control" id="name" required name="name" placeholder="Nguyen Van A,...">
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email"><%= __('Email') %></label>
                                            <input type="email" class="form-control" id="email" required name="email" placeholder="youremail@example.com">
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="phone"><%= __('Phone') %></label>
                                            <input type="text" class="form-control" id="phone" required name="phone" placeholder="0901234567,...">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="dob"><%= __('Date of Birth') %></label>
                                            <input type="date" class="form-control" id="dob" name="dob" required placeholder="1/1/1990">
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="potential"><%= __('Potential') %></label>
                                            <div id="potential">
                                                <label><%= __('Yes') %></label> <input type="checkbox" id="havePotential" name="havePotential">
                                                <label>             </label>
                                                <label><%= __('No') %></label> <input type="checkbox" id="noPotential" name="noPotential">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label><%= __('Address') %></label>
                                            <input type="text" id="address" required name="address" class="form-control"> </div>
                                        </div>
                                    </div>

                                    <div class="form-actions right">
                                        <a href="javascript:history.back()" class="btn default">Cancel</a>
                                        <button type="submit" class="btn blue">
                                            <i class="fa fa-check"></i> <%= __('Save') %></button>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
