<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="/admin">
<div><font size="6" color="#999999">L</font><font size="6" color="#848484">a</font><font size="6" color="#6f6f6f">v</font><font size="6" color="#595959">i</font><font size="6" color="#444444">n</font></div>            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile"><%= user.name %> </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="/admin/profile">
                                <i class="icon-user"></i><%= __('Profile') %> </a>
                        </li>
                        <li>
                            <a href="/">
                                <i class="icon-home"></i> <%= __('Home') %></a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="icon-key"></i> <%= __('Logout') %> </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile"> <%= __('Language') %> </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li><a href="/admin/en"><img src="/views/admin/assets/global/img/flags/us.png" alt="English"> English</a></li>
                        <li><a href="/admin/vi"><img src="/views/admin/assets/global/img/flags/vn.png" alt="Vietnamese"> Tiếng Việt</a></li>
                    </ul>
                </li>
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <!-- END SIDEBAR TOGGLER BUTTON -->
                <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                <li class="nav-item start ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="/admin" class="nav-link ">
                                <i class="icon-home"></i>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title"><%= __('Users') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/admin/userList" class="nav-link">
                                <span class="title"><%= __('Users List') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-basket"></i>
                        <span class="title"><%= __('Customers') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/admin/customerList" class="nav-link ">
                                <span class="title"><%= __('Customers List') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-list"></i>
                        <span class="title"><%= __('Projects') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/admin/projectList" class="nav-link ">
                                <span class="title"><%= __('Projects List') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-tag"></i>
                        <span class="title"><%= __('Products') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/admin/productList" class="nav-link ">
                                <span class="title"><%= __('Products List') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-newspaper-o"></i>
                        <span class="title"><%= __('News') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/admin/newsList" class="nav-link ">
                                <span class="title"><%= __('News List') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-wallet"></i>
                        <span class="title"><%= __('Finance') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/admin/incomeList" class="nav-link ">
                                <span class="title"><%= __('Income') %></span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/admin/outcomeList" class="nav-link ">
                                <span class="title"><%= __('Outcome') %></span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/admin/financeReport" class="nav-link ">
                                <span class="title"><%= __('Report') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title"><%= __('Roles') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/admin/roleList" class="nav-link ">
                                <span class="title"><%= __('Roles List') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-percent"></i>
                        <span class="title"><%= __('Commission') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/admin/staffCommission" class="nav-link ">
                                <span class="title"><%= __('Staff Commission') %></span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/admin/companyCommission" class="nav-link ">
                                <span class="title"><%= __('Company Commission') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin/bannerList"  class="nav-link ">
                            <i class="fa fa-file-image-o"></i><span class="title"><%= __('Banner') %></span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-trash"></i>
                        <span class="title"><%= __('Deleted') %></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/admin/deleted/staffList" class="nav-link ">
                                <span class="title"><%= __('Users List') %></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/deleted/productList" class="nav-link ">
                                <span class="title"><%= __('Products List') %></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/deleted/customerList" class="nav-link ">
                                <span class="title"><%= __('Customers List') %></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/deleted/incomeList" class="nav-link ">
                                <span class="title"><%= __('Income List') %></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/deleted/outcomeList" class="nav-link ">
                                <span class="title"><%= __('Outcome List') %></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/deleted/newsList" class="nav-link ">
                                <span class="title"><%= __('News List') %></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
