<% layout('/admin/template') -%>
<title>Users List</title>
<div class="page-heading">
    <h3>
        <%= __('Users List') %>
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="/admin">Dashboard</a>
        </li>
        <li class="active"><%= __('Users List') %></li>
    </ul>
</div>
<div class="wrapper">

<div class="row">
<div class="col-sm-12">
<section class="panel">
<header class="panel-heading">
    <%= __('List') %>
    <span class="tools pull-right">
        <a href="javascript:;" class="fa fa-chevron-down"></a>
        <a href="javascript:;" class="fa fa-times"></a>
     </span>
</header>
<div class="panel-body">
  <div class="clearfix">
      <div class="btn-group">
          <a href="/admin/addUser" id="editable-sample_new" class="btn btn-primary">
            <%= __('Add new') %> <i class="fa fa-plus"></i>
          </a>
      </div>
    </div>
<div class="adv-table">
<table class="display table table-bordered" id="hidden-table-info">
<thead>
<tr>
    <th class="hidden-phone">Email</th>
    <th class="hidden-phone"><%= __('Name') %></th>
    <th class="hidden-phone"><%= __('Role') %></th>
    <th class="hidden-phone"><%= __('Action') %></th>
    <th class="hidden-phone" style="display:none;">Address</th>
    <th class="hidden-phone" style="display:none;">Phone</th>
    <th class="hidden-phone" style="display:none;">Updated At</th>

</tr>
</thead>
<tbody>
  <% for (var i = 0; i < users.length; i++) { %>
<tr class="gradeA">
    <td><%= users[i].email %></td>
    <td><%= users[i].name %></td>
    <td class="hidden-phone"><%= users[i].role.role %></td>
    <td class="hidden-phone">
    <ul class="notification-menu">
    <li>
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
    <% if (users[i].role.role == "System Administrator" || users[i].role.role == "Administrator" ){ %>
    <li>N/A</li>
    <% } else { %>
      <li><a href="/admin/editUser/<%= users[i]._id %>"><%= __('Edit') %></a></li>
      <% } %>
      <% if (users[i].role.role == "System Administrator" || users[i].role.role == "Administrator" ){ %>
      <li>N/A</li>
      <% } else if (users[i]._id == user._id) { %>
        <li>N/A</li>
        <% } else { %>
        <li><a href="/admin/deleteUser/<%= users[i]._id %>"><%= __('Delete') %></a></li>
        <% } %>
      </ul>
  </li>
    <td class="center hidden-phone" style="display: none;"><%= users[i].address %></td>
    <td class="center hidden-phone" style="display: none;"><%= users[i].phone %></td>
    <td class="center hidden-phone" style="display: none;"><%= users[i].updatedAt %></td>
</tr>
<% } %>
</tbody>
</table>

</div>
</div>
</section>
</div>
</div>
</div>
