<% layout('/admin/template') -%>
<title>Products List</title>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/admin"><%= __('Dashboard') %></a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#"><%= __('Products List') %></a>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"><%= __('List') %></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="/admin/addProduct" id="sample_editable_1_new" class="btn grey">
                                    <%= __('Add new') %>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
              <thead>
<tr>
    <th class="all"><%= __('Project') %></th>
    <th class="all"><%= __('Apt. Code') %></th>
    <th class="all"><%= __('Status') %></th>
    <th class="all"><%= __('Sell Price') %></th>
    <th class="all"><%= __('Rent Price') %></th>
    <th class="all"><%= __('Action') %></th>
    <th class="none"><%= __('Rooms') %></th>
    <th class="none"><%= __('Area') %> (m<sup>2</sup>): </th>
    <th class="none"><%= __('Created At') %></th>
    <th class="none"><%= __('Updated At') %></th>
    <th class="none"><%= __('Customer') %></th>
    <th class="none"><%= __('Note') %></th>
</tr>
</thead>
<tbody>
  <% for (var i = 0; i < products.length; i++) { %>
<tr class="gradeA">
    <td><%= products[i].project.name %></td>
    <td><%= products[i].code %></td>
    <% if (products[i].status == "Available") { %>
    <td><%= __("Available") %></td>
    <% } else if (products[i].status == "Sold") { %>
      <td><font color="red"><%= __("Sold") %></font></td>
      <% } else if (products[i].status == "Rented") { %>
        <td><font color="purple"><%= __("Rented") %></font></td>
        <% } else { %>
          <td><font color="blue"><%= __("Deposited") %></font></td>
          <% } %>
    <td><%= products[i].sellPrice.toLocaleString() %></td>
    <td><%= products[i].rentPrice.toLocaleString() %></td>
    <td>
        <div class="btn-group pull-right">
            <button class="btn green btn-xs btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right">
              <li><a href="/admin/editProduct/<%= products[i]._id %>"><%= __('Edit') %></a></li>
            <li><a href="/admin/deleteProduct/<%= products[i]._id %>"><%= __('Delete') %></a></li>
            <% if (products[i].status == "Sold" || products[i].status == "Rented") { %>
            <% } else { %>
              <li><a href="/admin/sellProduct/<%= products[i]._id %>"><%= __('Sell') %></a></li>
              <li><a href="/admin/rentProduct/<%= products[i]._id %>"><%= __('Rent') %></a></li>
              <% if (products[i].status == "Deposited") { %>
              <li><a href="/admin/cancelDepositProduct/<%= products[i]._id %>"><%= __('Cancel Deposit') %></a></li>
              <% } else {  %>
                <li><a href="/admin/depositProduct/<%= products[i]._id %>"><%= __('Deposit') %></a></li>
                <% } %>
            <% } %>

                    </ul>
                </div>
            </td>
    <td><%= products[i].rooms %></td>
    <td><%= products[i].area %></td>
    <td><%= products[i].createdAt %></td>
    <td><%= products[i].updatedAt %></td>
    <% if (products[i].customer != null && products[i].deposit) { %>
      <td><%= products[i].customer.name %> - <%= __('Deposited: ') %> <%= products[i].deposit.toLocaleString() %> VND</td>
    <% } else {%>
      <td></td>
      <% } %>
    <th><%= products[i].note %></th>
</tr>
<% } %>
</tbody>
</table>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
